<!DOCTYPE html>
<html lang="en" class="{{ theme }}">
{% load static tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog {{ theme }}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="bg-white dark:bg-gray-800 shadow-md pt-1" x-data="{ open: false }">
        {# pc menu #}
        <div class="container mb-3 mx-auto">
            <div class="flex px-1 justify-between">
                <div class="ml-8 text-lg text-grey-700 hidden md:flex">
                    <a href="/">
                        <img src="{% static 'images/logo/logo.png' %}" alt="Logo" title="Logo"
                            class="m-0 shadow-none w-8" width="32" height="32">
                    </a>
                </div>
                <div class="flex-row hidden md:flex uppercase font-bold justify-center">
                    <a href="{% url 'b.index' %}"
                        class="text-center dark:text-white px-2 py-1 italic hover:-translate-y-1 transition-all">
                        {{ _('Blog') }}
                    </a>
                    <a href="{% url 's.b.index' %}"
                        class="text-center dark:text-white px-2 py-1 italic hover:-translate-y-1 transition-all">
                        {{ _('Store Book') }}

                    </a>
                    <a href="{% url 's.p.index' %}"
                        class="text-center dark:text-white px-2 py-1 italic hover:-translate-y-1 transition-all">
                        {{ _('Store') }}
                    </a>
                    <a href="{% url 's.p.t.index' 'desks' %}"
                        class="text-center dark:text-white px-2 py-1 italic hover:-translate-y-1 transition-all">
                        {{ _('Desks') }}
                    </a>
                </div>
                {% if user.is_authenticated %}
                <a href="{% url 'user.profile' %}" class="ml-2 mb-2 inline-block">
                    <div class="w-7 h-7 rounded-full bg-gray-600 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'account_login' %}" class="ml-2 mb-2 inline-block">
                    <div class="w-7 h-7 rounded-full bg-gray-600 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                        </svg>
                    </div>
                </a>
                {% endif %}
                <div>
                    {# ADD Something #}
                </div>
                {# mobile menu #}
                <div class="flex md:hidden ml-auto">
                    <button aria-label="Menú hamburguesa" title='Menú hamburguesa' @click="open = ! open" class="p-2">
                        <svg class="h-6 w-6 dark:text-white text-black" stroke="currentColor" fill="none"
                            viewBox="0 0 24 24">
                            {# bar #}
                            <path :class="{ 'hidden': open, 'inline-flex': !open }" class="inline-flex"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                            {# X #}
                            <path :class="{ 'hidden': !open, 'inline-flex': open }" class="hidden"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <!-- Responsive Navigation Menu -->
            <div :class="{ 'flex flex-col': open, 'hidden': !open }" class="hidden">
                <a href="{% url 'b.index' %}" class="text-gray-700 dark:text-white text-center px-4 py-3 m-1 italic">
                    {{ _('Blog') }}
                </a>
            </div>
        </div>


    </div>
    <div class='container mx-auto'>
        {% block content %}
        {% endblock %}
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>

</html>