<script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}"></script>

<div id="paypalButtons"></div>



<script>

    paypal.Buttons({
        createOrder: function(data, actions){
            return actions.order.create({
                purchase_units:[
                    {
                        amount: {
                            value:{{ price }}
                        }
                    }
                ]
            })
        },
        onApprove: function(data, actions){
 
            const csrfToken = '{{ csrf_token }}';
            // fetch(`/store/payment/${data.orderID}/{{id}}/paypal`, {
            fetch(`{{payment_url_paypal}}`.replace('orderID', data.orderID), {
                method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                })
                .then(response => response.json())
                .then(response => {
                    window.location.href = response.data.redirect;
                    // Redirect to success page or show success message
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }).render("#paypalButtons");
</script>
