</script>
<script src="https://js.stripe.com/v3/"></script>
<button id="payStripe" class='btn btn-success'>Stripe</button> 

<script>
const stripe = Stripe("{{ stripe_key }}");
// let click = false;

document.getElementById("payStripe").addEventListener("click", function () {
    Alpine.store('payment').loading = true;
    document.getElementById("payStripe").disabled = true;
    
    //click = true;
    const formData = new FormData();
    const csrfToken = '{{ csrf_token }}';
    
    // el session ID es generico para los libros y productos
    formData.append('entity', '{{ entity }}');
    formData.append('id', {{ product.id }});
    // *** url usada para generar el sessionID de retorno
    formData.append('url', window.location.origin + '{{ url }}');
    
    if ('{{ coupon }}') {
        formData.append('coupon','{{ coupon }}');
    }

    fetch("{% url 's.create_checkout_session' %}", {
        headers: {
                    'X-CSRFToken': csrfToken
                },
        method: "POST",
        body: formData,
    })
     /*fetch("{% url 's.create_checkout_session' %}", { method: "POST" },{
        'entity':'{{entity}}',
        'id':{{id}},
    })*/
        .then(response => response.json())
        /*.then(function (response) {
            click=false
            return response.json();
        })*/
        //  .then(session => console.log(session))
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
        // .catch(error => console.error("Error:", error));
});
</script>
