<script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}"></script>

<div id="paypalButtons"></div>
{{ price }}
<script>
    paypal.Buttons({
        createOrder: function(data, actions){
            return actions.order.create({
                purchase_units:[
                    {
                        amount: {
                            value:{{ price }}
                        }
                    }
                ]
            })
        },
        onApprove: function(data, actions){
            // TODO send order to server
            console.log(data.orderID)
            axios.post('paypal-process-order/'+data.orderID)
        }
    }).render("#paypalButtons");
</script>
