{% extends "master.html" %}

{% block content %}

    <div>
        <section class="card mx-auto prose-lg mb-3">
            <div class="card-body">
                <h1 class="text-center">{{ post.title }}</h1>

                {% if post.image %}
                    <img class="post" alt="{{ post.title }}" title="{{ post.title }}" src="{{ post.getImageUrl }}" />
                {% endif %}

                <div class="post">
                    {{ post.content|safe }}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}