{% extends "master.html" %}

{% block content %}
<div class="post prose-lg">
    
        <div>
            <h1 class="mb-2 md:mt-30">
                <span class="italic">{{ _("Cancel") }}:</span>
            </h1>

            <div class="mx-5">
                <p class="mb-0">{{ _("If you have any questions") }}:</p>
                <a class="ml-4 btn-sm btn-success" href="#">
                    {{ _("Contact") }}
                </a>
            </div>

            <hr class="dark:text-white">
</div>
{% endblock %}