{% extends "master.html" %}
{% load static %}

{% block content %}

<section class="card mt-4 max-w-4xl mx-auto">
    <div class="card-body">
        <form method="get" class="grid grid-cols-2 gap-2  mt-5">
            <input class='form-control' type="text" name="search" value="{{ request.GET.search }}" placeholder="Search..." class="w-full">

            <select name="category_id" class='form-select'>
                <option value="">Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category_id == category.id|stringformat:"s" %}selected{% endif %}>{{ category.title }}</option>
                {% endfor %}
            </select>

            <select class='form-select' name="tag_id" class="w-full">
                <option value="">Tag</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}" {% if request.GET.tag_id == tag.id|stringformat:"s" %}selected{% endif %}>{{ tag.title }}</option>
                {% endfor %}
            </select>

            <select class='form-select'  name="language" class="w-full">
                <option value=""></option>
                <option value="english" {% if request.GET.language == "english" %}selected{% endif %}>English</option>
                <option value="spanish" {% if request.GET.language == "spanish" %}selected{% endif %}>Spanish</option>
            </select>

            <input class='form-select'  type="date" name="from" value="{{ request.GET.from }}" class="w-full">
            <input class='form-select'  type="date" name="to" value="{{ request.GET.to }}" class="w-full">

            <div>
                <button class='btn btn-success'  type="submit">Filtrar</button>
            </div>
        </form>
    </div>
</section>

<div class="grid xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 mt-5">
    {% for p in products %}
        <div class="flex flex-col border rounded-lg shadow p-4 dark:border-white">
            {% if p.image %}
                <img class="post" alt="{{ p.title }}" title="{{ p.title }}" src="{{ p.getImageUrl }}" />
            {% endif %}
            <div class="mt-4">
                <h3 class="uppercase text-center mt-2 text-lg font-semibold min-h-[3.5rem] mb-0 dark:text-white">{{ p.title }}</h3>
            </div>

            <div class="flex flex-col sm:mx-2 text-xl grow">
                <!-- Enlace a todos los product -->
                <div class="flex grow">
             
                    <div class="grow">
                        <!-- Para que vaya a la izquierda -->
                    </div>

                    <span class="text-left font-semibold text-green-700">
                        {{ p.price_offert }}$
                    </span>
                </div>
                <!-- Ver el detalle -->
                <p class="text-center mt-4">
                    <a variant='primary' class="btn btn-success" href="{% url 's.p.show' p.slug %}">
                        {{ _('Show') }} </a> 
                </p>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock content %}