{% extends "master.html" %}

{% block content %}
    <div class="post prose-lg mb-3">
        
        <h1 class="text-center !mb-0">{{ product.title }}</h1>
        <p class="text-center text-xl !text-gray-400">{{ product.subtitle }}</p>

        <div class="sm:grid grid-cols-[1fr_2fr] gap-7">
            {% if product.image %}
                <img class="post" alt="{{ product.title }}" title="{{ product.title }}" src="{{ product.getImageUrl }}" />
            {% endif %}
            <div>
            
                <p class="my-0 mb-3 text-sm block text-gray-500 italic font-bold uppercase tracking-widest">
                    {{ product.date }}
                </p>

                <p class="font-bold text-green-700">
                    {{ product.price_offert }}$
                </p>

                {% comment %} data {% endcomment %}
                <a class="btn-sm btn-success" target="_blank"  href="{% url 'b.index' %}?category_id={{ product.post.category.id }}">
                    {{ product.post.category.title }}
                </a>

                {% for t in product.tags.all %}
                    <a class="btn-sm btn-success-border" target="_blank" href="{% url 'b.index' %}?tag_id={{ t.id }}">
                        {{ t.tag.title }}
                    </a>
                {% endfor %}
                {% comment %} data {% endcomment %}

                {% if user.is_authenticated %}
                    {% comment %} payment {% endcomment %}
                    {% url 's.product.payment' 'orderID' product.id 'paypal' as payment_url_paypal %}
                    {% url 's.product.payment' 'orderID' product.id 'stripe' as payment_url_stripe %}
                    
                    {% include "fragment/payment/index.html" with paypal_client_id=paypal_client_id stripe_key=stripe_key price=product.price_offert entity='product' id=product.id payment_url_paypal=payment_url_paypal payment_url_stripe=payment_url_stripe  %}
               
                {% comment %} payment {% endcomment %}
                {% else %}
                    {% include "fragment/_need_login.html" %}
                {% endif %}
            </div>
        </div>

        <hr class="my-3 dark:text-white">
        <section class="mycard mx-auto">
            <div class="mycard-body">
                {{ product.content|safe }}
            </div>
        </section>
    </div>
{% endblock content %}